# PyLint configuration file
# vim: set syntax=dosini:
[MASTER]
unsafe-load-any-extensions=yes

[REPORTS]
output-format=parseable
reports=no

[MESSAGES CONTROL]
disable=R,I,deprecated-lambda,global-statement,superfluous-parens,bare-except,broad-except,bad-continuation,bad-builtin,unnecessary-lambda,multiple-statements,unused-wildcard-import,wildcard-import,invalid-name,line-too-long,global-variable-not-assigned,protected-access,dangerous-default-value,old-style-class,no-init
ignored-modules=setproctitle

[FORMAT]
max-line-length=120
expected-line-ending-format=LF

[BASIC]
good-names=e,f,u,x,r,C,logger
variable-rgx=[a-z_][a-z0-9_]{1,30}$

[DESIGN]
max-args=10
